*{
    margin : 0px;
    padding  : 0px;   
    
}

body{
    font-family: "Inter", sans-serif;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 85px;
    background-color: #ffffff;
    height: 77px;
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  
    background-color: rgb(255, 255, 255);
    color:  #555555;
    gap : 35px; 
padding: 0 auto 100px;
   
}
.common{
    background-color: #1d52df;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 12px;
    margin: 35px;
    font-family: 'Inter', sans-serif;
  font-weight: 600; 
  width: 190px;
  cursor: pointer;

}
strong{
    
font-family: 'Inter', sans-serif;
font-size: 80px;
    font-weight: 620;
    max-width: 950px;
    margin: 0 310px 0  235px;
letter-spacing: -4.5px;
color: white;

}
article{
    font-size: 22px;
    max-width:850 px;
    font-family: 'Inter', sans-serif;
  font-weight:lighter; 
    color: rgba(255,255,255,0.8);
  line-height: 1.1;
  margin-top: 15px;
  padding: 10px 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right:auto;
  text-align: center; 
  width: 60%;
  
}
.banner{
    background-image: url(./assets/banner.jpg);
    
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
  justify-content: flex-start;
padding-top: 8rem;
padding-left: 10.3rem;
}

.btn{
padding: 24px 56px;
    font-size: 25px;
    margin-top: 300px;
    width: 275px;


}
.content{

    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}
.speakers{
   

    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    letter-spacing: 0;
    color: #000102;
    text-align: center;
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px auto 30px;
    

}
.speaker-info{
    padding: 24px 28px;
}

.cards{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 32px;
    max-width: 1750px;
    margin: 0 5px;


}  
.card img{
    width: 100%;
    height: 330px;
    object-fit:cover;
    display:block;

}
.card {
   
border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    background: white;

    display: flex;
    flex-direction: column;


}
.speaker-track{
    
   font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2563eb;

    /* color: rgba(37, 99, 235, 1); */
}

.speaker-name{
    font-size: 20px;
    font-weight: 710;
    margin-top: 12px;
}

.speaker-role{
    font-size: 14px;
    color: #666;
    margin-top: 12px;
}
